@import-normalize; /* bring in normalize.css styles */

:root {
  --color-main: #fafafa;
  --color-option: #000000;
  --color-secondary: #ffffff;
  --color-text-primary: #001833;
  --color-text-secondary: #3e4462;
  --color-text: #23262a;
  --color-icons: #22252a;
  --color-icons-light: #c4c4c4;
  --color-accent: #8baa36;
  --color-accent-secondary: #ebf3d4;
  --color-accent-secondary-black: #ebf3d4;
  --color-footer: #22252a;
  --color-input: #d9d9d9;
  --color-start-bg: #2a2c36;
  --color-start-text: #fafafa;
  --color-warning: #e74a3b;
  --color-placeholder: #d9d9d9;

  --transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme='dark'] {
  --color-main: #1e1f28;
  --color-secondary: #2a2c36;
  --color-text-primary: #fafafa;
  --color-text-secondary: #fafafa;
  --color-text: rgba(250, 250, 250, 0.6);
  --color-icons: #fafafa;
  /* --color-accent: #8baa36; */
  --color-accent-secondary: #2a2c36;
  --color-accent-secondary-black: #1e1f28;
  --color-footer: #8baa36;
  --color-input-color: rgba(250, 250, 250, 0.2);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;

  ::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-accent-secondary);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 10px;
  }
}

body {
  scroll-behavior: smooth;
  height: 100vh;
  color: var(--color-text-);
  background-color: var(--color-main);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.modal-show {
    overflow: hidden;
  }
}

div[id='root'] {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 343px) {
  .container {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1240px;
  }
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-Bold.ttf) format('truetype');
  font-display: swap;
}
