@import-normalize; /* bring in normalize.css styles */

body {
  background-color: #FAFAFA;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 343px) {
  .container {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1240px;
  }
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins'),
    url(./fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}
